body{
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  list-style: none;
}

.sp{
  display: none;
}

/* ナビ */
nav img{
  width: 162px;
  height: 152px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  position: relative;
}
nav h1{
  position: absolute;
  top: 16px;
  left: 21px;
  z-index: 1;
}

nav li{
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

/* ヘッダー */

header {
  background: url(../images/header_image.png) top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  background-color: #A71063;
}


.header-title{
  position: relative;
}

.header-title img{
  width: 157px;
  height: 164px;
  position: absolute;
  top: 41px;
  left: 36px;
  z-index: 2;
}

.header-copy{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  background: transparent linear-gradient(90deg, #A71063 0%, #A5085FBE 100%);
}

.header-copy img{
  width: 70%;
}

// ミドル
#middle{
  background: url(../images/mono.png);
}


.middle-text h2{
  text-align: center;
  background-color: #6287AD;
  color: white;
  padding: 0.5rem 0;
}

.middle-text{
  padding-top: 100px;
}

.middle-text img{
  padding: 2rem 0;
}

.middle-item{
  border: solid #A71063;
  background-color: #A71063;
  color: white;

  & h3{
    padding: 20px 0 0 35px;
    font-size: 36px;
  }

  & p {
    padding: 0 0 15px 35px;
    font-size: 28px;
  }
}

.canpen-box{
  background-color: #E9E9E9;
  padding-bottom: 0.1rem;
  margin: 3rem 0 2rem 0;
}

.fee{
  padding: 0 2rem;
}
.middle-content{
  background-color: white;
  margin: 2rem 2rem;  
}
.middle-list{
  padding-bottom: 1rem;
}

.studio{
  height: 340px;
  background: url(../images/studio_photo3.png) no-repeat;
  background-size: cover;
}

.entry{
  background: url(../images/footer-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;


  &__nav{
    padding: 120px 0 50px 0;
  }

  // エントリーボタン
  &__btn{
   padding-bottom: 230px;
   text-align: center;
  }
}


button{
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  } 


  // triセクション

  .try-header{
    height: 110px;
    background-color: #6287AD;
    display: flex;
    align-items: center;
    justify-content: center;

    &__left{
    font-size: 60px;
    font-weight: 400;
    color: white;
    }
    &__right{
      font-size: 21px;
      color: white;
      padding-left: 2rem;
    }
  }

   
  #try{
    background-color: #F4F5EF;
  }

  .try-box{
    background: url(../images/woman-relax.png)no-repeat;
    background-size: contain;
    text-align: center;

    &__content{
     
      padding-bottom: 2rem;
    }
  
    & > h2{
     font-family: 'Courgette', cursive;
     font-size: 80px;
     padding: 40px 0 100px 0;
    }

    &__left{
      padding: 0;
      text-align: left;

      & > h3{
        font-size: 26px;
        color: #BD3639;
        text-align: left;
      }
      & > p{
        text-align: left;
        font-size: 16px;
        padding-top: 1rem;
      }
    }

    &__btn{
      background: #B51E23;
      border-radius: 5px;
      color: white;
      font-size: 21px;
      padding: 1rem 2rem;
      margin-top: 1rem;
      & > i{
        margin-left: 0.5rem;
      }
    }
    &__right{
      text-align: right;
    }
  }
  