body{
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  list-style: none;
}

/* ナビ */
nav img{
  width: 162px;
  height: 152px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  position: relative;
}
nav h1{
  position: absolute;
  top: 16px;
  left: 21px;
  z-index: 2;
}

nav li{
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

/* ヘッダー */

header {
  background: url(../images/header_image.jpg) top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  background-color: #A71063;
}

.header-title{
  position: relative;
}

.header-title img{
  width: 157px;
  height: 164px;
  position: absolute;
  top: 41px;
  left: 36px;
  z-index: 1;
}

.header-copy{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  background: transparent linear-gradient(90deg, #A71063 0%, #A5085FBE 100%);
}

.header-copy img{
  width: 70%;
}

// ミドル
.middle-text h1{
  text-align: center;
  background-color: #6287AD;
  color: white;
  margin-top: 73px;
}

.middle-text img{
  padding: 30px 0 100px 0;
}

.middle-item{
  border: solid #A71063;
  background-color: #A71063;
  color: white;

  & h2{
    padding: 20px 0 0 35px;
  }

  & p {
    padding: 0 0 15px 35px;
  }
}


// 要素揃えるクラス
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1035px;
}

.middle-content{
  background-color: #E9E9E9;
  height: 480px;
  margin-bottom: 50px;
  position: relative;

  &__box{
    width: 1035px;
    background-color: white;
    position: absolute;
    top: 35px;
    left: 35px;
    text-align: center;

    & > img{
      padding: 0;
      margin: 50px 0;
    }
    
    & > ul{
      text-align: left;
      padding-left: 0;
      margin-bottom: 30px;
      @extend.content-width;
    }
  }
}



// エントリー

.entry{
  background: url(../images/footer-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;


  &__nav{
    padding: 120px 0 50px 0;
  }

  // エントリーボタン
  &__btn{
   padding-bottom: 240px;
   text-align: center;
  }
}


button{
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  } 